<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="../../public/assets/js/html.js"></script>
</head>

<body>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="onset-md-4 col-md-4 offset-md-4">
                <div class="jumbtron">
                    <h1>Eat-Da-Burger!</h1>
                    <hr>
                    <img src="../../public/assets/img/fast-food-cartoon-illustration-hand-footage-044919367_iconl.jpeg">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        {{{ body }}}
                    </div>
                    <div class="col-md-4">
                        <form id="movie-form">
                            <input class="btn btn-md" id="Submit" type="submit" value="Submit">
                            <input type="text" id="BurgerInput" placeholder="  example...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>