<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <ul>
                        {{#each burgers}}
                        <li>
                            <p>{{this.id}}.&nbsp;{{this.burger_name}}</p>
                        </li>
                        <button id="devour" class="btn btn-lrg btn-danger">Devour it!</button>
                        <br><br>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>