body{
    text-align: center;
    height: 100vh;
    background-image: url(../img/restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron{
    background-color: #ffffffcc;
}

.card{
    background-color: #ffffffcc;
}

#burgerPic{
    text-align: center;
    height: 150px;
    width: 150px;
}